
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/TelasCadastro/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/TelasCadastro/Style.css">
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Menu Principal do Sistema</h1>

        <nav>
            <div>
                <button onclick="window.location.href='/Home/Index'">Home</button>

                <button onclick="window.location.href='/Funcionario/Index'">Tela de Login</button>

                <button onclick="window.location.href='/Funcionario/Form'">Adicionar Funcionário</button>

                <button onclick="window.location.href='/Fornecedor/Index'">Adicionar Fornecedor</button>
            </div>
        </nav>

    </div>
</body>
</html>
