@{Posto_De_Combustivel.Models.Funcionario funcionarioLogado = (Posto_De_Combustivel.Models.Funcionario)HttpContext.Current.Session["FuncionarioLogado"]; }
<title>Menu Principal</title>
<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            @{ // Mostra nome do usuário logado na sessão
                string nome = "";

                if (funcionarioLogado != null)
                {
                    nome = funcionarioLogado.NomeUsuario;
                    <h1 class="page-title">Seja Bem Vindo <span>@nome</span>!</h1>
                }
            }
            <p class="page-subtitle">Menu Principal do Sistema</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Menu Principal</a></li>
        </ul>
    </div>

    <div class="container-fluid">
        <!-- TOP METRICS -->
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-metric_1 animate">
                    <span class="icon-wrapper custom-bg-orange"><i class="fa fa-area-chart"></i></span>
                    <div class="right">
                        <span class="title">
                            Lucro Bruto em Vendas

                        </span>
                        <span id="valorTotalVendas" class="value"><i class="change-icon change-up fa fa-sort-up text-indicator-green"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-metric_1 animate">
                    <span class="icon-wrapper custom-bg-lightseagreen"><i class="fa fa-shopping-cart"></i></span>
                    <div class="right">
                        <span class="title">
                            Número de Vendas
                        </span>
                        <span id="numeroTotalDeVendas" class="value"><i class="change-icon change-up fa fa-sort-up text-indicator-green"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-metric_1 animate">
                    <span class="icon-wrapper custom-bg-blue2"><i class="fa fa-user"></i></span>
                    <div class="right">
                        <span class="title">Clientes Cadastrados</span>
                        <span class="value" id="somaTotalClientes"><i class="change-icon change-down fa fa-sort-down text-indicator-red"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-metric_1 animate">
                    <span class="icon-wrapper custom-bg-purple"><i class="fa fa-shopping-bag"></i></span>
                    <div class="right">
                        <span class="title">Produtos Cadastrados</span>
                        <span class="value" id="quantidadeDeProdutosCadastrados"><i class="change-icon change-up fa fa-sort-up text-indicator-green"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TOP METRICS -->
        <!-- Vendas -->
        <div>
            <div class="col-md-6">
                <div class="widget widget-task-progress">
                    <div class="top clearfix">
                        <span class="title">Gasolina Comum</span>
                        <span id="porcentagemAcimaBombaUm" class="percentage"></span>
                    </div>
                    <div class="progress progress-sm task-progress progress-transparent custom-color-blue3">
                        <div id="barraDeProgressoGasCom" class="progress-bar" data-transitiongoal="85" aria-valuenow="85"></div>
                    </div>
                    <div class="bottom clearfix">
                        <span id="litrosGasolinaComum" class="note"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="widget widget-task-progress">
                    <div class="top clearfix">
                        <span class="title">Gasolina Aditivada</span>
                        <span id="porcentagemAcimaDaBombaDois" class="percentage"></span>
                    </div>
                    <div class="progress progress-sm task-progress progress-transparent custom-color-blue3">
                        <div id="barraDeProgressoGasAdit" class="progress-bar" data-transitiongoal="85" aria-valuenow="85"></div>
                    </div>
                    <div class="bottom clearfix">
                        <span class="note" id="litrosGasolinaAditivada"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Vendas -->

        <div>
            <div class="col-md-6">
                <div class="widget widget-task-progress">
                    <div class="top clearfix">
                        <span class="title">Etanol</span>
                        <span class="percentage" id="porcentagemAcimaBombaTres"></span>
                    </div>
                    <div class="progress progress-sm task-progress progress-transparent custom-color-blue3">
                        <div id="barraProgressoEtanol" class="progress-bar" data-transitiongoal="85" aria-valuenow="85"></div>
                    </div>
                    <div class="bottom clearfix">
                        <span class="note" id="litrosEtanol"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="widget widget-task-progress">
                    <div class="top clearfix">
                        <span class="title">Diesel</span>
                        <span class="percentage" id="porcentagemAcimaDaBombaQuatro"></span>
                    </div>
                    <div class="progress progress-sm task-progress progress-transparent custom-color-blue3">
                        <div id="barraProgressoDiesel" class="progress-bar" data-transitiongoal="85" aria-valuenow="85"></div>
                    </div>
                    <div class="bottom clearfix">
                        <span id="litrosDiesel" class="note"></span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

@section body_scripts{

    <script src="~/Content/javascript/Home.js"></script>

}