<div class="main-content">
    <div class="content-heading clearfix">
        <div class="heading-left">
            <h1 class="page-title">Cadastros</h1>
            <p class="page-subtitle">Lista de clientes</p>
        </div>
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#">Cadastros</a></li>
            <li><a href="#">Lista de Clientes</a></li>
        </ul>
    </div>

    <div class="panel demo display">
        <div class="panel-heading">
            <h3 class="panel-title">Clientes</h3>
        </div>
        <div class="panel-body text-center">

            <div>
                <button type="button" class="btn btn-success btn-lg" onclick="window.location.href='/Cliente/Index'">Adicionar</button>
                <button type="button" class="btn btn-info btn-lg" onclick="window.location.href='/Cliente/UpdateForm'">Editar</button>
                <button type="button" class="btn btn-danger btn-lg" onclick="" id="excluir">Deletar</button>
            </div>

            <table id="MyEstoque" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Pontos</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section body_scripts{

    <script>

        $(document).ready(function () {
           var tabela = $('#MyEstoque').DataTable({
                dom: 'Blftip',
                select: true,
                "ajax": {
                    "url": "/Cliente/ListaClientes",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "Id", "autoWidth": true, },
                    { "data": "Pessoa.Nome", "autoWidth": true },
                    { "data": "Pontos", "autoWidth": true },

                ]
            });

            // Inativa CLiente no banco de dados e da DataTable
            $('#excluir').click(function () {
                var clienteId = tabela.rows({ selected: true }).data()[0].Id;
                $.ajax({
                    type: "GET",
                    url: "/Cliente/InativaCliente/" + clienteId,
                    dataType: "json",
                    success: function (response) {
                        if (response.inativou) {
                            alert("Cliente apagado!");
                            tabela.ajax.reload();
                        }
                    }
                });
            });

        });
    </script>
}

