@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title> Posto de Combustível </title>
    <link rel="stylesheet" type="text/css" href="~/Content/TelaLogin/loginstyle.css">
</head>
<body>
    <div class="login-box">
        <form action="/Funcionario/Autentica" method="post">
        
            <h1>Posto de Combustível</h1>


            <p>Usuário</p>
            <input type="text" name="nomeusuario" id="nomeusuario" placeholder=" Nome de usuário">
            <p>Senha</p>
            <input type="password" name="senha" id="senha" placeholder=" Sua senha">
            <input type="submit" name="submit" value="Entrar" autofocus>
            <a href="#">Esqueceu sua senha?</a>


        </form>

    </div>
</body>
</html>